In [1]:
import pandas as pd

In [2]:
datafile = './data/air_data.csv'

In [14]:
data = pd.read_csv(datafile, encoding='utf-8')

In [15]:
data.head().T

,0,1,2,3,4
MEMBER_NO,54993,28065,55106,21189,39546
FFP_DATE,2006/11/02,2007/02/19,2007/02/01,2008/08/22,2009/04/10
FIRST_FLIGHT_DATE,2008/12/24,2007/08/03,2007/08/30,2008/08/23,2009/04/15
GENDER,男,男,男,男,男
FFP_TIER,6,6,6,5,6
WORK_CITY,.,NaN,.,Los Angeles,贵阳
WORK_PROVINCE,北京,北京,北京,CA,贵州
WORK_COUNTRY,CN,CN,CN,US,CN
AGE,31,42,40,64,48
LOAD_TIME,2014/03/31,2014/03/31,2014/03/31,2014/03/31,2014/03/31
FLIGHT_COUNT,210,140,135,23,152
BP_SUM,505308,362480,351159,337314,273844
EP_SUM_YR_1,0,0,0,0,0
EP_SUM_YR_2,74460,41288,39711,34890,42265
SUM_YR_1,239560,171483,163618,116350,124560
SUM_YR_2,234188,167434,164982,125500,130702
SEG_KM_SUM,580717,293678,283712,281336,309928
WEIGHTED_SEG_KM,558440,367777,355966,306901,300834
LAST_FLIGHT_DATE,2014/03/31,2014/03/25,2014/03/21,2013/12/26,2014/03/27
AVG_FLIGHT_COUNT,26.25,17.5,16.875,2.875,19
AVG_BP_SUM,63163.5,45310,43894.9,42164.2,34230.5
BEGIN_TO_FIRST,2,2,10,21,3
LAST_TO_END,1,7,11,97,5
AVG_INTERVAL,3.48325,5.19424,5.29851,27.8636,4.78808
MAX_INTERVAL,18,17,18,73,47
ADD_POINTS_SUM_YR_1,3352,0,3491,0,0
ADD_POINTS_SUM_YR_2,36640,12000,12000,0,22704
EXCHANGE_COUNT,34,29,20,11,27
avg_discount,0.961639,1.25231,1.25468,1.09087,0.970658
P1Y_Flight_Count,103,68,65,13,71
L1Y_Flight_Count,107,72,70,10,81
P1Y_BP_SUM,246197,177358,169072,186104,128448
L1Y_BP_SUM,259111,185122,182087,151210,145396
EP_SUM,74460,41288,39711,34890,42265
ADD_Point_SUM,39992,12000,15491,0,22704
Eli_Add_Point_Sum,114452,53288,55202,34890,64969
L1Y_ELi_Add_Points,111100,53288,51711,34890,64969
Points_Sum,619760,415768,406361,372204,338813
L1Y_Points_Sum,370211,238410,233798,186100,210365
Ration_L1Y_Flight_Count,0.509524,0.514286,0.518519,0.434783,0.532895
Ration_P1Y_Flight_Count,0.490476,0.485714,0.481481,0.565217,0.467105
Ration_P1Y_BPS,0.487221,0.489289,0.481467,0.551722,0.469054
Ration_L1Y_BPS,0.512777,0.510708,0.51853,0.448275,0.530943
Point_NotFlight,50,33,26,12,39

In [25]:
explore = data.describe(percentiles=[], include='all').T

In [27]:
explore['null'] = len(data) - explore['count']

In [28]:
explore

,count,unique,top,freq,mean,std,min,50%,max,null
MEMBER_NO,62988,NaN,NaN,NaN,31494.5,18183.2,1,31494.5,62988,0
FFP_DATE,62988,3068,2011/01/13,184,NaN,NaN,NaN,NaN,NaN,0
FIRST_FLIGHT_DATE,62988,3406,2013/02/16,96,NaN,NaN,NaN,NaN,NaN,0
GENDER,62985,2,男,48134,NaN,NaN,NaN,NaN,NaN,3
FFP_TIER,62988,NaN,NaN,NaN,4.10216,0.373856,4,4,6,0
WORK_CITY,60719,3310,广州,9385,NaN,NaN,NaN,NaN,NaN,2269
WORK_PROVINCE,59740,1185,广东,17507,NaN,NaN,NaN,NaN,NaN,3248
WORK_COUNTRY,62962,118,CN,57748,NaN,NaN,NaN,NaN,NaN,26
AGE,62568,NaN,NaN,NaN,42.4763,9.88591,6,41,110,420
LOAD_TIME,62988,1,2014/03/31,62988,NaN,NaN,NaN,NaN,NaN,0
FLIGHT_COUNT,62988,NaN,NaN,NaN,11.8394,14.0495,2,7,213,0
BP_SUM,62988,NaN,NaN,NaN,10925.1,16339.5,0,5700,505308,0
EP_SUM_YR_1,62988,NaN,NaN,NaN,0,0,0,0,0,0
EP_SUM_YR_2,62988,NaN,NaN,NaN,265.69,1645.7,0,0,74460,0
SUM_YR_1,62437,NaN,NaN,NaN,5355.38,8109.45,0,2800,239560,551
SUM_YR_2,62850,NaN,NaN,NaN,5604.03,8703.36,0,2773,234188,138
SEG_KM_SUM,62988,NaN,NaN,NaN,17123.9,20960.8,368,9994,580717,0
WEIGHTED_SEG_KM,62988,NaN,NaN,NaN,12777.2,17578.6,0,6978.26,558440,0
LAST_FLIGHT_DATE,62988,731,2014/03/31,959,NaN,NaN,NaN,NaN,NaN,0
AVG_FLIGHT_COUNT,62988,NaN,NaN,NaN,1.54215,1.787,0.25,0.875,26.625,0
AVG_BP_SUM,62988,NaN,NaN,NaN,1421.44,2083.12,0,752.375,63163.5,0
BEGIN_TO_FIRST,62988,NaN,NaN,NaN,120.145,159.573,0,50,729,0
LAST_TO_END,62988,NaN,NaN,NaN,176.12,183.822,1,108,731,0
AVG_INTERVAL,62988,NaN,NaN,NaN,67.7498,77.5179,0,44.6667,728,0
MAX_INTERVAL,62988,NaN,NaN,NaN,166.034,123.397,0,143,728,0
ADD_POINTS_SUM_YR_1,62988,NaN,NaN,NaN,540.317,3956.08,0,0,600000,0
ADD_POINTS_SUM_YR_2,62988,NaN,NaN,NaN,814.689,5121.8,0,0,728282,0
EXCHANGE_COUNT,62988,NaN,NaN,NaN,0.319775,1.136,0,0,46,0
avg_discount,62988,NaN,NaN,NaN,0.721558,0.185427,0,0.711856,1.5,0
P1Y_Flight_Count,62988,NaN,NaN,NaN,5.76626,7.21092,0,3,118,0
L1Y_Flight_Count,62988,NaN,NaN,NaN,6.07316,8.17513,0,3,111,0
P1Y_BP_SUM,62988,NaN,NaN,NaN,5366.72,8537.77,0,2692,246197,0
L1Y_BP_SUM,62988,NaN,NaN,NaN,5558.36,9351.96,0,2547,259111,0
EP_SUM,62988,NaN,NaN,NaN,265.69,1645.7,0,0,74460,0
ADD_Point_SUM,62988,NaN,NaN,NaN,1355.01,7868.48,0,0,984938,0
Eli_Add_Point_Sum,62988,NaN,NaN,NaN,1620.7,8294.4,0,0,984938,0
L1Y_ELi_Add_Points,62988,NaN,NaN,NaN,1080.38,5639.86,0,0,728282,0
Points_Sum,62988,NaN,NaN,NaN,12545.8,20507.8,0,6328.5,985572,0
L1Y_Points_Sum,62988,NaN,NaN,NaN,6638.74,12601.8,0,2860.5,728282,0
Ration_L1Y_Flight_Count,62988,NaN,NaN,NaN,0.486419,0.319105,0,0.5,1,0
Ration_P1Y_Flight_Count,62988,NaN,NaN,NaN,0.513581,0.319105,0,0.5,1,0
Ration_P1Y_BPS,62988,NaN,NaN,NaN,0.522293,0.339632,0,0.514252,0.999989,0
Ration_L1Y_BPS,62988,NaN,NaN,NaN,0.468422,0.338956,0,0.476747,0.999993,0
Point_NotFlight,62988,NaN,NaN,NaN,2.72815,7.36416,0,0,140,0

In [45]:
data_sum_na = data[data['SUM_YR_1'].isna() | data['SUM_YR_2'].isna()]

In [47]:
data_sum_na.tail().T

,62923,62943,62955,62979,62987
MEMBER_NO,16431,7426,50599,34330,61340
FFP_DATE,2013/01/17,2013/03/22,2011/10/19,2013/03/16,2013/02/17
FIRST_FLIGHT_DATE,2013/01/26,2013/03/22,2011/10/19,2013/03/17,2013/02/17
GENDER,男,男,男,男,女
FFP_TIER,4,4,4,4,4
WORK_CITY,北京,东营,上海,乌鲁木齐,上海
WORK_PROVINCE,.,山东,上海,新疆,.
WORK_COUNTRY,CN,CN,CN,CN,CN
AGE,40,49,35,41,29
LOAD_TIME,2014/03/31,2014/03/31,2014/03/31,2014/03/31,2014/03/31
FLIGHT_COUNT,2,2,2,2,2
BP_SUM,400,200,400,0,0
EP_SUM_YR_1,0,0,0,0,0
EP_SUM_YR_2,0,0,0,0,0
SUM_YR_1,NaN,NaN,NaN,NaN,NaN
SUM_YR_2,0,0,0,0,0
SEG_KM_SUM,746,746,728,746,4222
WEIGHTED_SEG_KM,373,317.05,291.2,186.5,0
LAST_FLIGHT_DATE,2013/02/24,2013/03/25,2012/10/21,2013/03/19,2013/02/23
AVG_FLIGHT_COUNT,0.4,0.4,0.25,0.4,0.4
AVG_BP_SUM,80,40,50,0,0
BEGIN_TO_FIRST,9,0,200,1,0
LAST_TO_END,402,373,528,379,403
AVG_INTERVAL,29,3,3,2,6
MAX_INTERVAL,29,3,3,2,6
ADD_POINTS_SUM_YR_1,0,0,0,0,0
ADD_POINTS_SUM_YR_2,0,0,0,0,0
EXCHANGE_COUNT,0,0,0,0,0
avg_discount,0.5,0.425,0.4,0.25,0
P1Y_Flight_Count,2,2,2,2,2
L1Y_Flight_Count,0,0,0,0,0
P1Y_BP_SUM,400,200,400,0,0
L1Y_BP_SUM,0,0,0,0,0
EP_SUM,0,0,0,0,0
ADD_Point_SUM,0,0,0,0,0
Eli_Add_Point_Sum,0,0,0,0,0
L1Y_ELi_Add_Points,0,0,0,0,0
Points_Sum,400,200,400,0,0
L1Y_Points_Sum,0,0,0,0,0
Ration_L1Y_Flight_Count,0,0,0,0,0
Ration_P1Y_Flight_Count,1,1,1,1,1
Ration_P1Y_BPS,0.997506,0.995025,0.997506,0,0
Ration_L1Y_BPS,0,0,0,0,0
Point_NotFlight,0,0,0,0,0

In [50]:
data_c = data[data['SUM_YR_1'].notnull() & data['SUM_YR_2'].notnull()]

In [52]:
cond1 = data_c['SUM_YR_1'] != 0
cond2 = data_c['SUM_YR_2'] != 0
cond3 = (data_c['SEG_KM_SUM'] == 0) &(data_c['avg_discount'] == 0)

In [54]:
data_c = data_c[cond1 | cond2 | cond3]

In [57]:
LRFMC = ['LOAD_TIME', 'FFP_DATE', 'LAST_TO_END', 'FLIGHT_COUNT', 'SEG_KM_SUM', 'avg_discount']
data_to_als = data_c[LRFMC]

In [68]:
data_to_als['LOAD_TIME'] = pd.to_datetime(data_to_als['LOAD_TIME']) - pd.to_datetime(data_to_als['FFP_DATE'])

/Users/onionkev/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [71]:
data_to_als = data_to_als.drop(columns=['FFP_DATE'])

In [79]:
data_to_als.columns = ['L', 'R', 'F', 'M', 'C']

In [80]:
data_to_als.head()

          L   R    F       M         C
0 2706 days   1  210  580717  0.961639
1 2597 days   7  140  293678  1.252314
2 2615 days  11  135  283712  1.254676
3 2047 days  97   23  281336  1.090870
4 1816 days   5  152  309928  0.970658

In [81]:
data_to_als.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62044 entries, 0 to 62978
Data columns (total 5 columns):
L    62044 non-null timedelta64[ns]
R    62044 non-null int64
F    62044 non-null int64
M    62044 non-null int64
C    62044 non-null float64
dtypes: float64(1), int64(3), timedelta64[ns](1)
memory usage: 5.3 MB

In [87]:
data_cn = (data_to_als - data_to_als.mean(axis=0)) / data_to_als.std(axis=0)

In [89]:
from sklearn.cluster import KMeans

In [90]:
k = 5

In [91]:
kmodel = KMeans(n_clusters=k, n_jobs=-1)
kmodel.fit(data_cn)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=5, n_init=10, n_jobs=-1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [94]:
data_cn['cluster'] = kmodel.predict(data_cn)

In [98]:
data_cn['cluster'].value_counts()

3    24659
0    15740
2    12125
4     5336
1     4184
Name: cluster, dtype: int64

In [110]:
data_c['cluster'] = data_cn['cluster']

In [116]:
data_c['SUM'] = data_c['SUM_YR_1'] + data_c['SUM_YR_2']

In [126]:
col = list(data_c.columns)
col = [col[-1]] + col[:-1]
data_c = data_c[col]

In [132]:
data_cls = data_c.groupby(['cluster']).mean().sort_values(by=['SUM'], ascending=False)

In [136]:
data_cls.T

cluster,4,1,0,3,2
SUM,46396.898988,12840.992113,9079.593202,8128.398191,3458.566457
MEMBER_NO,31417.179348,31483.189771,30492.596823,32089.913784,31574.738887
FFP_TIER,4.719640,4.234943,4.045807,4.033740,4.004536
AGE,44.186571,45.865830,45.498778,40.153152,41.540743
FLIGHT_COUNT,47.010870,8.777247,10.744473,9.696662,3.872082
BP_SUM,47660.679723,13954.217495,8901.197840,7809.712478,3355.220454
EP_SUM_YR_1,0.000000,0.000000,0.000000,0.000000,0.000000
EP_SUM_YR_2,2849.515555,185.449331,19.218742,18.146640,0.358103
SUM_YR_1,21804.866004,6508.564054,4240.770076,3471.834705,3169.428890
SUM_YR_2,24592.032984,6332.428059,4838.823126,4656.563486,289.137567
SEG_KM_SUM,68368.747939,12461.786329,15325.346188,13931.469443,6020.158515
WEIGHTED_SEG_KM,53901.220442,14527.717847,10701.492444,9533.942687,4145.307831
AVG_FLIGHT_COUNT,5.954344,1.138308,1.343059,1.333501,0.509313
AVG_BP_SUM,6041.937888,1815.624659,1112.649730,1076.164799,442.624140
BEGIN_TO_FIRST,29.327211,140.118308,170.900254,122.779594,80.923299
LAST_TO_END,27.423726,172.107314,104.052732,97.211890,478.618639
AVG_INTERVAL,16.993614,87.078762,73.466888,81.320557,49.123876
MAX_INTERVAL,91.483133,190.960564,195.535896,201.755870,85.208330
ADD_POINTS_SUM_YR_1,1703.045915,512.781549,571.882592,406.650675,291.458804
ADD_POINTS_SUM_YR_2,3046.447901,617.243308,709.142821,726.343323,257.974433
EXCHANGE_COUNT,1.875937,0.263145,0.367662,0.107831,0.042309
avg_discount,0.779225,1.127822,0.693394,0.675102,0.690213
P1Y_Flight_Count,21.966829,4.460325,5.083545,4.161280,3.509196
L1Y_Flight_Count,25.044040,4.316922,5.660928,5.535383,0.362887
P1Y_BP_SUM,22410.121627,6992.817161,4207.207497,3401.442597,3097.198680
L1Y_BP_SUM,25250.558096,6961.400335,4693.990343,4408.269881,258.021773
EP_SUM,2849.515555,185.449331,19.218742,18.146640,0.358103
ADD_Point_SUM,4749.493816,1130.024857,1281.025413,1132.993998,549.433237
Eli_Add_Point_Sum,7599.009370,1315.474187,1300.244155,1151.140638,549.791340
L1Y_ELi_Add_Points,5895.963456,802.692639,728.361563,744.489963,258.332536
Points_Sum,55259.689093,15269.691683,10201.441995,8960.853117,3905.011794
L1Y_Points_Sum,31146.521552,7764.092973,5422.351906,5152.759844,516.354309
Ration_L1Y_Flight_Count,0.530522,0.503094,0.578158,0.612103,0.103172
Ration_P1Y_Flight_Count,0.469478,0.496906,0.421842,0.387897,0.896828
Ration_P1Y_BPS,0.471158,0.498380,0.431551,0.404379,0.895785
Ration_L1Y_BPS,0.528815,0.501436,0.560883,0.584822,0.091360
Point_NotFlight,8.253936,1.673518,2.449936,2.590454,1.434722